body {
	background-color: lightgray;
	font-family: "courier new";
}

header {
	text-align: center;
}

.column-1, .column-2 {
	border: 5px solid gray;
	background-color: white;
	float: left;
	width: 48%;
	box-sizing: border-box;
	padding: 20px;
	margin: 1%;
}

.parent_div{
	overflow: auto;
}